<form class="taxCalculationForm" [formGroup]="form" (ngSubmit)="onClick()">
    <mat-label for="salary">Gross Annual Salary:</mat-label>

    <mat-form-field>
        <input matInput type="number" formControlName="salary">
    </mat-form-field>

    <button mat-stroked-button 
         [disabled]="!form.valid">Calc</button>
    @if (isInputValid()) {
    <mat-error>Please enter a valid number.</mat-error>
    }
    @if (isInputEmpty()) {
    <mat-error>This field is required. </mat-error>
    }
</form>
